.toolbarDarkCompact {
  width: 375px;
  height: 48px;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  opacity: 1;
}
img{
  position: absolute;
}
.toolbarContainer {
  width: 375px;
  height: 48px;
  position: absolute;
  padding: 0 0 0 0;
  background-color: #181e25;
  opacity: 1;
  display: none;
}

.logoPlaceholder {
  gap: 0;
  position: absolute;
  top: 50%;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transform: translateY(-50%);
  left: 12px;
  padding: 10px 12px 10px 12px;
  opacity: 1;
  display: flex;
}

.myLogo {
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  text-align: center;
}

.frame37 {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  opacity: 1;
}

.normalButtonTertiaryEnabled {
  gap: 0;
  position: absolute;
  top: 50%;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  transform: translateY(-50%);
  right: 24px;
  border-radius: 8px;
  padding: 8px 8px 8px 8px;
  opacity: 1;
  display: flex;
}

.Headline {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
}

.PrimaryText1 {
  width: 327px;
  height: 150px;
  color: #172b4d;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}

.PrimaryText2 {
  width: 327px;
  height: 146px;
  color: #344563;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.SocialMedia {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.SupportingText {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.LetSConnect {
  color: #7f8cff;
  font-size: 16px;
  font-family: Arial;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.SocialMediaIcons {
  width: 170.17px;
  height: 20px;
  position: relative;
}

.Works {
  width: 375px;
  height: 3000px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 88px;
  display: inline-flex;
}

.CardWorks {
  padding: 16px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  border: 1px #dfe1e6 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
}

.SnapshootPortfolio {
  width: 295px;
  height: 220px;
  position: relative;
  border-radius: 8px;
}

.LeftBlock {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.ProjectTitle {
  width: 295px;
  height: 36px;
  color: #172b4d;
  font-size: 32px;
  font-family: Arial;
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}

.Frame2 {
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.Client {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.Text {
  color: #344563;
  font-size: 13px;
  font-family: Arial;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}

.Counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 9999px;
}

.YearLabel {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.Role {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.Text2 {
  color: #7a869a;
  font-size: 13px;
  font-family: Arial;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}

.PrimaryText {
  width: 295px;
  height: 76px;
  color: #344563;
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.Tags {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.Tag {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #ebebff;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.Fonts {
  color: #6070ff;
  font-size: 12px;
  font-family: Arial;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.Action {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 169px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.NormalButtonSecondaryEnabled {
  align-self: stretch;
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #6070ff solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.SeeProject {
  text-align: center;
  color: #396df2;
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
}

.AboutMySelf {
  width: 375px;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  display: inline-flex;
}

.Top {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.PrimaryText3 {
  width: 327px;
  height: 35px;
  color: #172b4d;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}

.PrimaryText4{
    width: 327px;
    height: 147px;
    color: #344563;
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}
    
.SocialMedia{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.SupportingText {
    justify-content: flex-start;
    align-items: center;
    gap: 8px ;
    display: inline-flex;
}

.NormalButtonSecondary-Enabled {
    padding: 12px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px #6070ff solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}
    
.GetMyResume {
    text-align: center;
    color: #396df2;
    font-size: 17px;
    font-family: Arial;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    word-wrap: break-word;
}
    
.SkillList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.Frame12 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
    
.Frame7 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 26px;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: inline-flex;
}

.Languages {
    width: 237px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}
    
.NormalButtonTertiary-Disabled {
    align-self: stretch;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.IconsIconChevronDownLarger {
    width: 24px;
    height: 24px;
    position: relative;
}

.Union2 {
    width: 14px;
    height: 8px;
    left: 5px;
    top: 8px;
    position: absolute;
}

.LangguageList {
    padding: 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: flex;
}

.Frame9 {
    width: 303px;
    padding-top: 9px;
    padding-bottom: 9.72px;
    padding-left: 12px;
    padding-right: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.Ellipse1 {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    border: 1px white solid;
}

.Language {
    width: 215px;
    height: 24px;
    color: #253858;
    font-size: 15px;
    font-family: Arial;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.Frame10 {
    width: 303px;
    padding-top: 9px;
    padding-bottom: 9.72px;
    padding-left: 12px;
    padding-right: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.Frame11 {
    width: 303px;
    padding-top: 9px;
    padding-bottom: 9.72px;
    padding-left: 12px;
    padding-right: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.Frame8 {
    width: 327px;
    height: 72px;
    position: relative;
}

.Frameworks {
    width: 237px;
    left: 12px;
    top: 24px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.Union3 {
    width: 8px;
    height: 14px;
    left: 9px;
    top: 5px;
    position: absolute;
}

.SeparatorBottom {
    width: 327px;
    height: 1px;
    left: 0;
    top: 71px;
    position: absolute;
    background: #dfe1e6;
}

.frame9 {
    width: 327px;
    height: 72px;
    position: relative;
}

.Skills {
    width: 237px;
    left: 12px;
    top: 24px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.NormalButtonTertiaryDisabled {
    padding: 8px;
    left: 261px;
    top: 16px;
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.frame {
    height: 120px;
    width: 375px;
}

.ContactFormShapesMobile {
    width: 100%;
    height: 100%;
    position: relative;
}

.Rectangle4 {

  width: 74.7px;
  height: 17.21px;
  left: 300px;
  top: 40px;
  position: absolute;
  transform: rotate(-23.18deg);
  transform-origin: 0 0;
  background: #7f8cff;


.Ellipse3 {
    width: 90px;
    height: 89px;
    left: 328px;
    top: 38.75px;
    position: absolute;
    background: white;
    border-radius: 9999px;
}

.Ellipse19 {
    width: 60px;
    height: 59px;
    left: 348px;
    top: 52.75px;
    position: absolute;
    background: #6070ff;
    border-radius: 9999px;
}

.Ellipse12 {
    width: 21px;
    height: 21px;
    left: 153px;
    top: 34px;
    position: absolute;
    background: #7f8cff;
    border-radius: 9999px;
}

.Rectangle7 {
    width: 76.17px;
    height: 13.63px;
    left: 250.8px;
    top: 663.89px;
    position: absolute;
    transform: rotate(36.74deg);
    transform-origin: 0 0;
    background: #7f8cff;
}

.Ellipse5 {
  width: 31.11px;
  height: 31.11px;
  left: 263.28px;
  top: 685.27px;
  position: absolute;
  transform: rotate(48.94deg);
  transform-origin: 0 0;
  background: white;
  border-radius: 9999px;
}

.Rectangle6 {
  width: 74.7px;
  height: 37.21px;
  left: 310px;
  top: 136.75px;
  position: absolute;
  transform: rotate(-33.18deg);
  transform-origin: 0 0;
  background: #6070ff;
}

.ContactMe {
  width: 375px;
  height: 860px;
  background-color: #6070ff;
}

.contact {
  width: 801px;
  height: 56px;
  color: white;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
  padding-left: 70px;
}

.contactheadline {
  width: 327px;
  height: 137px;
  text-align: center;
  color: #ebebff;
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  padding: 20px;
}

input[type=text],
input[type=email] {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  width: 273px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutral-n-800, #172b4d);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  width: 327px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

textarea {
  margin-left: 20px;
  width: 327px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  width: 273px;
  height: 140px;
  flex-shrink: 0;
  color: var(--neutrals-n-60, #b3bac5);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

button {
  margin-top: 13px;
  margin-left: 20px;
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  background: var(--neutrals-n-0, #fff);
  color: var(--primary-b-400, #6070ff);
  text-align: center;

  /* Button /Normal */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}
